{% extends 'base_layout.html' %}

{% block content %}

  <head>
    <meta charset="utf-8">
    <title>Дополнительная информация</title>
  </head>
  <body style="background-color: #d0eaf2; color: #1f4070;">
    <h1>Created by Xassalex</h1>
    <pre><span class="about-content" style="font-size: 18px;">
        Айвонабай - это веб-сервис,написанный на Python, для
        сравнения цен на товары бытовой техники в ведущих магазинах России.
        На март 2023 года этот веб-скрипт в настоящее время работает с DNS, Мвидео
        и Регард.
    </span></pre>
  </body>
{% endblock %}
